div {
  outline: 1px solid red;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  max-height: 100vh;
}

.rightside {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  display: grid;
  grid-template-rows: 3fr 2fr;
  grid-template-columns: auto;
  width: 100%;
  max-width: 100%;
  background-color: rgb(223, 201, 201);
}

body {
  margin: 0;
  padding: 0;
}

.sidebar-menu {
  display: grid;

  grid-column-start: 1;
  grid-column-end: 2;
  background-color: rgb(133, 131, 129);
  font-family: Roboto, sans-serif;
  font-size: 1 rem;
  font-weight: 600;
}

ul {
  list-style: none;
}

.dash-menu-top , .dash-menu-mid , .dash-menu-bottom {
    display: grid;
    align-items: center;
    justify-content: baseline;
    padding: 0;

}

.dash-menu-top{
    font-size: 1.45rem;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  background-color: plum;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: powderblue;
}

.listsvg {
filter: invert(100%) sepia(92%) saturate(0%) hue-rotate(237deg) brightness(106%) contrast(107%);
width: 1.3rem;
height: auto;

}

.dashsvg {
    width: 2.5rem;
    height: auto;
}

.side-menu-list{
    color: white;
    
}

.sidebar-menu img{
    margin-top: 20px;
}