div {
  /* outline: 1px solid red; */
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  max-height: 100vh;
}

.rightside {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  display: grid;
  grid-template-rows: 3fr 2fr;
  grid-template-columns: auto;
  width: 100%;
  max-width: 100%;
  background-color: #1992d4;
}

body {
  margin: 0;
  padding: 0;
}

.sidebar-menu {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  background-color: #1992d4;
  display: grid;
  grid-template-columns: 30px;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr;
  background-color: plum;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: powderblue;
}

.svgimg {
  filter: invert(100%) sepia(92%) saturate(0%) hue-rotate(237deg)
    brightness(106%) contrast(107%);
  width: 1.3rem;
  height: auto;
}

.dashimg {
  width: 2.5rem;
  height: auto;
  display: grid;
  justify-content: center;
}

.sidebartext {
  display: grid;
  justify-content: center;
}

.sidebar-menu {
  display: grid;
  justify-content: baseline;
  margin-left: 30px;
  gap: 40px;
  height: 100%;
  max-height: 100%;
}

.sidebar-item {
  display: grid;
  grid-template-columns: 2fr 7fr;
  grid-template-rows: auto;
  align-items: center;
  background-color: #1992d4;
  color: #ffffff;
  padding: 0;
  margin: 0;
  max-width: auto;
}

.dashtxt {
  font-size: 1.6rem;
}

.sidebar-middle {
  display: grid;
  grid-template-rows: repeat(6, 38px);
  grid-template-columns: 122px;
  background-color: #1992d4;
}

.sidebar-bottom {
  display: grid;
  grid-template-rows: repeat(3, 38px);
  grid-template-columns: 85px;
  background-color: #1992d4;
}

.dashdash {
  width: 170px;
  min-width: 170px;
}

.searchbar{
  border-style: none;
  border-radius: 10px;
  width: 80%;
  height: 1.5rem;
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: #e2e8f0;
}

.magnify{
  width: 60%;
  height: auto;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
}

.header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.search-bar-div-upperleft{
  display: grid;
  grid-template-columns: 40px 40px 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  
  
  
}